// https://yalter.github.io/niri/

// use systemd instead
// spawn-at-startup "mako"
// spawn-at-startup "fcitx5"
// spawn-at-startup "waybar"
spawn-at-startup "noctalia"

/* passwd-file
802-1x.identity:
802-1x.password:
*/
spawn-sh-at-startup "nmcli connection up eduroam passwd-file ~/passwd-file"

input {
    keyboard {
        xkb {
            layout "us"
            variant "altgr-intl"
            options "compose:rctrl,compose:ralt"
        }
    }

    touchpad {
        tap
        accel-speed 0.6
        natural-scroll
    }

    focus-follows-mouse max-scroll-amount="30%"

}

layout {
    gaps 0
    always-center-single-column
    empty-workspace-above-first

    preset-column-widths {
        proportion 0.5
        proportion 1.0
    }

    default-column-width {
        proportion 0.5
    }

    preset-window-heights {
        proportion 0.3
        proportion 0.7
        proportion 1.0

    }

    background-color "#CCEECC"

    focus-ring {
        off
    }

    border {
        width 2
    }

    tab-indicator {
        place-within-column
        position "top"
        gap 0
        width 10
        length total-proportion=1.0
        urgent-color "red"
        active-color "white"
        inactive-color "#CCEECC"
    }
}

window-rule {
    geometry-corner-radius 5
    clip-to-geometry true
}

window-rule {
    match app-id="dev.noctalia.Noctalia"
    open-floating true
    default-column-width { fixed 1080; }
    default-window-height { fixed 920; }
}

window-rule {
    match app-id="foot"
    open-floating true
}

overview {
    zoom 0.5
}

screenshot-path "~/Pictures/Screenshots/%Y-%m-%d %H-%M-%S.png"

animations {
    slowdown 0.5
}

binds {
    // Functions
    Mod+Slash { show-hotkey-overlay; }
    Ctrl+Alt+Delete { quit; }

    Mod+B hotkey-overlay-title="App Launcher" { spawn-sh "noctalia msg panel-toggle launcher"; }
    Mod+M hotkey-overlay-title="Toggle Bar" { spawn-sh "noctalia msg bar-toggle"; }
    Mod+P {screenshot;}
    Mod+Escape { close-window; }
    Mod+T { toggle-column-tabbed-display;}
    Mod+Grave repeat=false { toggle-overview; }

    XF86AudioRaiseVolume { spawn-sh "noctalia msg volume-up"; }
    XF86AudioLowerVolume { spawn-sh "noctalia msg volume-down"; }
    XF86AudioMute { spawn-sh "noctalia msg volume-mute"; }

    // Focus - Left Hand Only

    Mod+W { focus-window-up; }
    Mod+S { focus-window-down; }
    Mod+A { focus-column-left; }
    Mod+D { focus-column-right; }

    Mod+Shift+W    { move-window-up; }
    Mod+Shift+S  { move-window-down; }
    Mod+Z  { move-column-left; }
    Mod+X { move-column-right; }

    Mod+C { center-column; }
    Mod+Q { consume-or-expel-window-left; }
    Mod+E { consume-or-expel-window-right; }


    //  Resize

    Mod+F { switch-preset-column-width; }
    Mod+Ctrl+F { fullscreen-window; }
    Mod+R { switch-preset-window-height; }


    Mod+Minus { set-column-width "-20%"; }
    Mod+Equal { set-column-width "+20%"; }
    Mod+Shift+Minus { set-window-height "-20%"; }
    Mod+Shift+Equal { set-window-height "+20%"; }

    Mod+N      { toggle-window-floating; }
    Mod+Ctrl+N { switch-focus-between-floating-and-tiling; }

    // Workspace

    Mod+Shift+1 { move-column-to-workspace-up; }
    Mod+Shift+2 { move-column-to-workspace-down; }
    Mod+1       { focus-workspace-up; }
    Mod+2       { focus-workspace-down; }

    Mod+Shift+Page_Down { move-workspace-down; }
    Mod+Shift+Page_Up   { move-workspace-up; }


    Mod+Tab { focus-workspace-previous; }

    // Mouse

    Mod+Ctrl+WheelScrollDown { move-column-right; }
    Mod+Ctrl+WheelScrollUp  { move-column-left; }

    Mod+WheelScrollDown  cooldown-ms=50 { focus-column-right; }
    Mod+WheelScrollUp    cooldown-ms=50 { focus-column-left; }
    Mod+Shift+WheelScrollUp cooldown-ms=50 {focus-workspace-up;}
    Mod+Shift+WheelScrollDown cooldown-ms=50 {focus-workspace-down;}
    Mod+WheelScrollRight cooldown-ms=100 { focus-column-right; }
    Mod+WheelScrollLeft  cooldown-ms=100 { focus-column-left; }

    Mod+MouseMiddle {close-window;}
}

environment {
    ELECTRON_OZONE_PLATFORM_HINT "auto"
}

include optional=true "local.kdl"
